<!--about.ejs Juneau Gawat 301076796 October 8, 2020-->

<%- include('./partials/header.ejs') -%>

<div class="container">

    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">Welcome to <%= title %></p>
      <hr class="my-4">
      <center>
      <h4 id=>Juneau Gawat</h4>
      <img src="https://i.imgur.com/1YVHZJw.png" width="217" height="255">
      <br><br><br>
      <p>Some dude whose in game programming and a cook at swiss chalet</p>
      <br>
      <a href="../public/Content/Assets/resume.pdf" download>resume</a>
      <p>(outdated)</p>
    </center>
  </div>
</div>

<%- include('./partials/footer.ejs') -%>