<!--contact.ejs Juneau Gawat 301076796 October 8, 2020-->

<%- include('./partials/header.ejs') -%>

<div class="container">

    <div class="jumbotron">
      <h1 class="display-4"><%= title %> Me</h1>
      <p class="lead">:)</p>
      <hr class="my-4">
      <!--<link rel="stylesheet" type="text/css" href="../public/Content/contact.css" media="all">-->
      <script>
          function myFunction(){
            let firstName = document.getElementById('first_name').value;
            let lastName = document.getElementById('last_name').value;
            let phone = document.getElementById('phone').value;
            let email = document.getElementById('email').value;
            let msg = document.getElementById('msg').value;
}; 
      </script>
      <body id="main_body" >

          <h4>email</h4>
          <p>juneaugawat@hotmail.com</p>
          
          </body>
      </html>

  </div>
</div>

<%- include('./partials/footer.ejs') -%>