<!--index.ejs Juneau Gawat 301076796 October 8, 2020-->

<%- include('./partials/header.ejs') -%>

    <div class="container">

        <div class="jumbotron">
          <h1 class="display-4">New portfolio site <a href="https://juneaugawat.myportfolio.com/">https://juneaugawat.myportfolio.com/</a></h1>
          <p class="lead">Welcome to <%= title %></p>
          <hr class="my-4">
          <p class="lead">Juneau Gawat's bootleg portfolio website.</p>
          <p class="lead">What you're looking for is in PROJECTS, SERVICES, or CONTACT in the top right.</p>
          <br><br>
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
          <p class="lead">:)</p>
      </div>
    </div>
    
<%- include('./partials/footer.ejs') -%>
