<!--projects.ejs Juneau Gawat 301076796 October 8, 2020-->

<%- include('./partials/header.ejs') -%>

<div class="container">

    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">Stuff I've done/part of that seem mentionable. Contact me in the top right. Also, see services.</p>
      <p class="lead">If you want to see a github or website I have not posted, email me.</p>
      <hr class="my-4">
      <!-- clicked the pictures to make it bigger-->
      <h3>add map i made for csgo with source sdk hammer</h3>
      <br><br>
      <h3>Angels</h3>
      <p>The weeping angel puzzle game. Everything done by me.</p>
      <p>github: <a href="https://github.com/juneaubro/Angels" target="_blank">https://github.com/juneaubro/Angels</a></p>
      <p>game link: <a href="https://heliwars.itch.io/angels" target="_blank">https://heliwars.itch.io/angels</a></p>
      <a href="https://i.imgur.com/rkJrqae.png" target="_blank"><img src="https://i.imgur.com/rkJrqae.png" width="386" height="215" alt="angel game"></a>
      <br>
      <br>
      <p>Demo</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Ru2AuPRZnFM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br><br>
      <h3>Floq</h3>
      <p>Project simulating flock behavior. Everything done by me.</p>
      <p>github: <a href="https://github.com/juneaubro/Floq" target="_blank">https://github.com/juneaubro/Floq</a></p>
      <p>game link: <a href="https://heliwars.itch.io/floq-assignment2" target="_blank">https://heliwars.itch.io/floq-assignment2</a></p>
      <a href="https://i.imgur.com/SxIVIYJ.png" target="_blank"><img src="https://i.imgur.com/SxIVIYJ.png" width="386" height="215" alt="floq game"></a>
      <br><br>
      <p>Demo</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/CHf0bxwbbWY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br><br>
      <h3>Tournoi</h3>
      <p>Tournament creation site. I was the database, authentication/security programmer.</p>
      <p>website link: <a href="https://tournoi-group-project.herokuapp.com/" target="_blank">https://tournoi-group-project.herokuapp.com/</a></p>
      <a href="https://i.imgur.com/XACnpm9.jpeg" target="_blank"><img src="https://i.imgur.com/XACnpm9.jpeg" width="386" height="215" alt="tournoi"></a>
      <br><br>
      <h3>Reaper's Wish</h3>
      <p>A platformer about a Reaper who steals candy from kids so they don't get cavities like he did. I was a gameplay, sound, and UI/UX programmer.</p>
      <p>github: <a href="https://github.com/rickynguyen1707/Reaper-Wish" target="_blank">https://github.com/rickynguyen1707/Reaper-Wish</a></p>
      <p>game link: <a href="https://heliwars.itch.io/reapers-wish" target="_blank">https://heliwars.itch.io/reapers-wish</a></p>
      <a href="https://i.imgur.com/5SCNTnd.png" target="_blank"><img src="https://i.imgur.com/5SCNTnd.png" width="386" height="215" alt="reaper game"></a>
      <br><br>
      <p>demo</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9gBJ2JmvrQs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br><br>
      <h3>One of my midterms dunno</h3>
      <p>Made one level of a 2D platformer.</p>
      <p>github: <a href="https://github.com/juneaubro/Gawat_Juneau_comp305_midterm" target="_blank">https://github.com/juneaubro/Gawat_Juneau_comp305_midterm</a></p>
      <p>game link: <a href="https://heliwars.itch.io/game-prog-midterm" target="_blank">https://heliwars.itch.io/game-prog-midterm</a></p>
      <a href="https://i.imgur.com/XjXZQL0.png" target="_blank"><img src="https://i.imgur.com/XjXZQL0.png" width="386" height="215" alt="game dev mid term"></a>
      <br><br>
      <p>Demo</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6bMNKOtHdTo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br>
      <br>
      <h3>Infinite Procedural Map Generation Tests</h3>
      <p>Practice project with a friend involving infinite procedural map generation. I was the physics programmer and level designer.</p>
      <p>github: <a href="https://github.com/juneaubro/toe-june/tree/master/Unity/3dLearningUnityProject/3dPrac" target="_blank">https://github.com/juneaubro/toe-june/tree/master/Unity/3dLearningUnityProject/3dPrac</a></p>
      <a href="https://i.imgur.com/WOAOi1B.png" target="_blank"><img src="https://i.imgur.com/WOAOi1B.png" alt="infinite procedural map generation" width="425" height="222"></a>
      <br><br>
      <p>Demo (partial)</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_KckIOpOYW8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br><br>
      <h3>3D Modelling and Animating tests.</h3>
      <p>Made models using blender. Rigged them and animated then in blender. Ported them to unity.</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jJoSwZhJNkg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/TNOCllnoNMo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jVicCSpECgA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br><br>
      <h3>Website data <---> Database Test</h3>
      <p>Insert information from website to database and display infromation from database to website. Was a template from one of my midterms. I had to implement the functionality.</p>
      <a href="https://i.imgur.com/FYBn0gu.png" target="_blank"><img src="https://i.imgur.com/FYBn0gu.png" width="386" height="215" alt="booklist"></a>
      <br><br>
      <p>Demo</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/g3GwuH7KLFQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br><br>
      <h3>Java Web Application <---> Database Sorting Test</h3>
      <p>Display information from database to my java web application, and sort the information base of off a criteria. Everything done by me.</p>
      <p>Don't break my database. Probably going to be gone within the years. That's why I have a video.</p>
      <a href="https://i.imgur.com/w9pe8Er.png" target="_blank"><img src="https://i.imgur.com/w9pe8Er.png" width="386" height="215" alt="java db exam"></a>
      <br><br>
      <p>Demo</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0dZV58nfmdw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br><br>
      <h3>Java Web Application <---> Database Adding and Deleting Test</h3>
      <p>Insert information from application to database and display infromation from database to application. Everything done by me.</p>
      <p>Don't break my database. Probably going to be gone within the years. That's why I have a video.</p>
      <a href="https://i.imgur.com/8U3yQiH.png" target="_blank"><img src="https://i.imgur.com/8U3yQiH.png" width="386" height="215" alt="java db lab5"></a>
      <br><br>
      <p>Demo</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xZ4OfwpltS0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br><br>
      <h3>BookAndTheBone</h3>
      <p>A platformer game about a dog with a magical book. I was the physics programmer, gameplay programmer, level designer, and animator.</p>
      <p>github: <a href="https://github.com/juneaubro/BookAndTheBone" target="_blank">https://github.com/juneaubro/BookAndTheBone</a></p>
      <p>game link: <a href="https://heliwars.itch.io/book-and-the-bone" target="_blank">https://heliwars.itch.io/book-and-the-bone</a></p>
      <a href="https://i.imgur.com/rh3dDIF.png" target="_blank"><img src="https://i.imgur.com/rh3dDIF.png" width="386" height="215" alt="dog game"></a>
      <br><br>
      <p>Demo</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/p8_3MZL4hEs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br>
      <br>
      <h3>Game Music</h3>
      <p>I make music for games.</p>
      <p>Songs:</p>
      <li><a href="https://soundcloud.com/juneaubro/do-ppls-songs-reflect-how-theyre-feeling" target="_blank">do ppls songs reflect how theyre feeling?</a></li>
      <li><a href="https://soundcloud.com/juneaubro/lofi-i-think" target="_blank">Lofi I Think</a></li>
      <br>
      <a href="https://i.imgur.com/W4EadOu.png" target="_blank"><img src="https://i.imgur.com/W4EadOu.png" alt="music" width="304" height="125"></a>
  </div>
</div>

<%- include('./partials/footer.ejs') -%>