<!--services.ejs Juneau Gawat 301076796 October 8, 2020-->

<%- include('./partials/header.ejs') -%>

<div class="container">

    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">Things I can do. Contact me in the top right. Also, see projects.</p>
      <hr class="my-4">
      <h2>Services: </h2>
      <br>
      <ul>
          <li>
            
            <b>Languages:</b>
            <ul>C++</ul>
            <ul>C#</ul>
            <ul>Java</ul>
            <ul>JavaScript</ul>
            <ul>Python</ul>
            <ul>HTML</ul>
            <ul>CSS</ul>

          </li>
          <br>

          <li>
            
            <b>Game engines worked with:</b>
            <ul>Unity</ul>
            <ul>Unreal</ul>
          </li>

          <br>
          <li><b>General Programming</b></li>
          <br>
          <li><b>Game Programming</b></li>
          <br>
          <li><b>Software Development</b></li>
          <br>
          <li><b>Web Development:</b>
            <ul>MEAN Stack</ul>
          </li>
          <br>
          <li><b>Video Editing:</b>
          <ul>Sony Vegas</ul>
          <ul>Adobe Premiere</ul>
          <ul>Adobe AfterEffects</ul>
          </li>
          <br>
          <li><b>Photo Editing:</b>
          <ul>Adobe Photoshop</ul>
          <ul>Adobe Illustrations</ul>
          </li>
          <br>
          <li><b>Music Producing:</b>
          <ul>FL Studio</ul>
          <ul>Play the bass guitar</ul>
          </li>
      </ul>
  </div>
</div>

<%- include('./partials/footer.ejs') -%>